.font-1c-enterprise {
  color: #814CCC; }

.font-abap {
  color: #E8274B; }

.font-actionscript {
  color: #882B0F; }

.font-ada {
  color: #02f88c; }

.font-agda {
  color: #315665; }

.font-ags-script {
  color: #B9D9FF; }

.font-alloy {
  color: #64C800; }

.font-alpine-abuild {
  color: inherit; }

.font-ampl {
  color: #E6EFBB; }

.font-angelscript {
  color: #C7D7DC; }

.font-antlr {
  color: #9DC3FF; }

.font-apex {
  color: inherit; }

.font-api-blueprint {
  color: #2ACCA8; }

.font-apl {
  color: #5A8164; }

.font-apollo-guidance-computer {
  color: inherit; }

.font-applescript {
  color: #101F1F; }

.font-arc {
  color: #aa2afe; }

.font-asp {
  color: #6a40fd; }

.font-aspectj {
  color: #a957b0; }

.font-assembly {
  color: #6E4C13; }

.font-ats {
  color: #1ac620; }

.font-augeas {
  color: inherit; }

.font-autohotkey {
  color: #6594b9; }

.font-autoit {
  color: #1C3552; }

.font-awk {
  color: inherit; }

.font-ballerina {
  color: #FF5000; }

.font-batchfile {
  color: #C1F12E; }

.font-befunge {
  color: inherit; }

.font-bison {
  color: inherit; }

.font-bitbake {
  color: inherit; }

.font-blitzbasic {
  color: inherit; }

.font-blitzmax {
  color: #cd6400; }

.font-bluespec {
  color: inherit; }

.font-boo {
  color: #d4bec1; }

.font-brainfuck {
  color: #2F2530; }

.font-brightscript {
  color: inherit; }

.font-bronone {
  color: #555555; }

.font-c2hs-haskell {
  color: inherit; }

.font-cartocss {
  color: inherit; }

.font-ceylon {
  color: #dfa535; }

.font-chapel {
  color: #8dc63f; }

.font-charity {
  color: inherit; }

.font-chuck {
  color: inherit; }

.font-cirru {
  color: #ccccff; }

.font-clarion {
  color: #db901e; }

.font-clean {
  color: #3F85AF; }

.font-click {
  color: #E4E6F3; }

.font-clips {
  color: inherit; }

.font-clojure {
  color: #db5855; }

.font-cmake {
  color: inherit; }

.font-cobol {
  color: inherit; }

.font-coffeescript {
  color: #244776; }

.font-coldfusion {
  color: #ed2cd6; }

.font-coldfusion-cfc {
  color: inherit; }

.font-common-lisp {
  color: #3fb68b; }

.font-common-workflow-language {
  color: #B5314C; }

.font-component-pascal {
  color: #B0CE4E; }

.font-cool {
  color: inherit; }

.font-coq {
  color: inherit; }

.font-crystal {
  color: #776791; }

.font-csound {
  color: inherit; }

.font-csound-document {
  color: inherit; }

.font-csound-score {
  color: inherit; }

.font-css {
  color: #563d7c; }

.font-cuda {
  color: #3A4E3A; }

.font-cweb {
  color: inherit; }

.font-cycript {
  color: inherit; }

.font-cython {
  color: inherit; }

.font-d {
  color: #ba595e; }

.font-dart {
  color: #00B4AB; }

.font-dataweave {
  color: #003a52; }

.font-digital-command-language {
  color: inherit; }

.font-dm {
  color: #447265; }

.font-dockerfile {
  color: #0db7ed; }

.font-dogescript {
  color: #cca760; }

.font-dtrace {
  color: inherit; }

.font-dylan {
  color: #6c616e; }

.font-e {
  color: #ccce35; }

.font-ec {
  color: #913960; }

.font-ecl {
  color: #8a1267; }

.font-eclipse {
  color: inherit; }

.font-eiffel {
  color: #946d57; }

.font-elixir {
  color: #6e4a7e; }

.font-elm {
  color: #60B5CC; }

.font-emacs-lisp {
  color: #c065db; }

.font-emberscript {
  color: #FFF4F3; }

.font-eq {
  color: #a78649; }

.font-erlang {
  color: #B83998; }

.font-factor {
  color: #636746; }

.font-fancy {
  color: #7b9db4; }

.font-fantom {
  color: #14253c; }

.font-filebench-wml {
  color: inherit; }

.font-filterscript {
  color: inherit; }

.font-fish {
  color: inherit; }

.font-flux {
  color: #88ccff; }

.font-forth {
  color: #341708; }

.font-fortran {
  color: #4d41b1; }

.font-freemarker {
  color: #0050b2; }

.font-frege {
  color: #00cafe; }

.font-game-maker-language {
  color: #8fb200; }

.font-gams {
  color: inherit; }

.font-gap {
  color: inherit; }

.font-gcc-machine-description {
  color: inherit; }

.font-gdb {
  color: inherit; }

.font-gdscript {
  color: inherit; }

.font-genie {
  color: #fb855d; }

.font-genshi {
  color: inherit; }

.font-gentoo-ebuild {
  color: inherit; }

.font-gentoo-eclass {
  color: inherit; }

.font-gherkin {
  color: #5B2063; }

.font-glsl {
  color: inherit; }

.font-glyph {
  color: #e4cc98; }

.font-gnuplot {
  color: #f0a9f0; }

.font-go {
  color: #375eab; }

.font-golo {
  color: #88562A; }

.font-gosu {
  color: #82937f; }

.font-grace {
  color: inherit; }

.font-grammatical-framework {
  color: #79aa7a; }

.font-groovy {
  color: #e69f56; }

.font-groovy-server-pages {
  color: inherit; }

.font-hack {
  color: #878787; }

.font-harbour {
  color: #0e60e3; }

.font-haskell {
  color: #5e5086; }

.font-haxe {
  color: #df7900; }

.font-hcl {
  color: inherit; }

.font-hiveql {
  color: #dce200; }

.font-hlsl {
  color: inherit; }

.font-html {
  color: #e34c26; }

.font-hy {
  color: #7790B2; }

.font-hyphy {
  color: inherit; }

.font-idl {
  color: #a3522f; }

.font-idris {
  color: #b30000; }

.font-igor-pro {
  color: inherit; }

.font-inform-7 {
  color: inherit; }

.font-inno-setup {
  color: inherit; }

.font-io {
  color: #a9188d; }

.font-ioke {
  color: #078193; }

.font-isabelle {
  color: #FEFE00; }

.font-isabelle-root {
  color: inherit; }

.font-j {
  color: #9EEDFF; }

.font-jasmin {
  color: inherit; }

.font-java {
  color: #b07219; }

.font-java-server-pages {
  color: inherit; }

.font-javascript {
  color: #f1e05a; }

.font-jflex {
  color: inherit; }

.font-jison {
  color: inherit; }

.font-jison-lex {
  color: inherit; }

.font-jolie {
  color: #843179; }

.font-jsoniq {
  color: #40d47e; }

.font-jsx {
  color: inherit; }

.font-julia {
  color: #a270ba; }

.font-jupyter-notebook {
  color: #DA5B0B; }

.font-kotlin {
  color: #F18E33; }

.font-krl {
  color: #28431f; }

.font-labview {
  color: inherit; }

.font-lasso {
  color: #999999; }

.font-lean {
  color: inherit; }

.font-lex {
  color: #DBCA00; }

.font-lfe {
  color: #4C3023; }

.font-lilypond {
  color: inherit; }

.font-limbo {
  color: inherit; }

.font-literate-agda {
  color: inherit; }

.font-literate-coffeescript {
  color: inherit; }

.font-literate-haskell {
  color: inherit; }

.font-livescript {
  color: #499886; }

.font-llvm {
  color: #185619; }

.font-logos {
  color: inherit; }

.font-logtalk {
  color: inherit; }

.font-lolcode {
  color: #cc9900; }

.font-lookml {
  color: #652B81; }

.font-loomscript {
  color: inherit; }

.font-lsl {
  color: #3d9970; }

.font-lua {
  color: #000080; }

.font-m {
  color: inherit; }

.font-m4 {
  color: inherit; }

.font-m4sugar {
  color: inherit; }

.font-makefile {
  color: #427819; }

.font-mako {
  color: inherit; }

.font-mask {
  color: #f97732; }

.font-mathematica {
  color: inherit; }

.font-matlab {
  color: #e16737; }

.font-max {
  color: #c4a79c; }

.font-maxscript {
  color: #00a6a6; }

.font-mercury {
  color: #ff2b2b; }

.font-meson {
  color: #007800; }

.font-metal {
  color: #8f14e9; }

.font-minid {
  color: inherit; }

.font-mirah {
  color: #c7a938; }

.font-modelica {
  color: inherit; }

.font-modula-2 {
  color: inherit; }

.font-module-management-system {
  color: inherit; }

.font-monkey {
  color: inherit; }

.font-moocode {
  color: inherit; }

.font-moonscript {
  color: inherit; }

.font-mql4 {
  color: #62A8D6; }

.font-mql5 {
  color: #4A76B8; }

.font-mtml {
  color: #b7e1f4; }

.font-muf {
  color: inherit; }

.font-mupad {
  color: inherit; }

.font-myghty {
  color: inherit; }

.font-ncl {
  color: #28431f; }

.font-nearley {
  color: #990000; }

.font-nemerle {
  color: #3d3c6e; }

.font-nesc {
  color: #94B0C7; }

.font-netlinx {
  color: #0aa0ff; }

.font-netlinxerb {
  color: #747faa; }

.font-netlogo {
  color: #ff6375; }

.font-newlisp {
  color: #87AED7; }

.font-nextflow {
  color: #3ac486; }

.font-nim {
  color: #37775b; }

.font-nit {
  color: #009917; }

.font-nix {
  color: #7e7eff; }

.font-nsis {
  color: inherit; }

.font-nu {
  color: #c9df40; }

.font-numpy {
  color: inherit; }

.font-objective-c {
  color: #438eff; }

.font-objective-j {
  color: #ff0c5a; }

.font-ocaml {
  color: #3be133; }

.font-omgrofl {
  color: #cabbff; }

.font-ooc {
  color: #b0b77e; }

.font-opa {
  color: inherit; }

.font-opal {
  color: #f7ede0; }

.font-opencl {
  color: inherit; }

.font-openedge-abl {
  color: inherit; }

.font-openrc-runscript {
  color: inherit; }

.font-openscad {
  color: inherit; }

.font-ox {
  color: inherit; }

.font-oxygene {
  color: #cdd0e3; }

.font-oz {
  color: #fab738; }

.font-p4 {
  color: #7055b5; }

.font-pan {
  color: #cc0000; }

.font-papyrus {
  color: #6600cc; }

.font-parrot {
  color: #f3ca0a; }

.font-parrot-assembly {
  color: inherit; }

.font-parrot-internal-representation {
  color: inherit; }

.font-pascal {
  color: #E3F171; }

.font-pawn {
  color: #dbb284; }

.font-pep8 {
  color: #C76F5B; }

.font-perl {
  color: #0298c3; }

.font-perl-6 {
  color: #0000fb; }

.font-php {
  color: #4F5D95; }

.font-picolisp {
  color: inherit; }

.font-piglatin {
  color: #fcd7de; }

.font-pike {
  color: #005390; }

.font-plpgsql {
  color: inherit; }

.font-plsql {
  color: #dad8d8; }

.font-pogoscript {
  color: #d80074; }

.font-pony {
  color: inherit; }

.font-postscript {
  color: #da291c; }

.font-pov-ray-sdl {
  color: inherit; }

.font-powerbuilder {
  color: #8f0f8d; }

.font-powershell {
  color: #012456; }

.font-processing {
  color: #0096D8; }

.font-prolog {
  color: #74283c; }

.font-propeller-spin {
  color: #7fa2a7; }

.font-puppet {
  color: #302B6D; }

.font-purebasic {
  color: #5a6986; }

.font-purescript {
  color: #1D222D; }

.font-python {
  color: #3572A5; }

.font-python-console {
  color: inherit; }

.font-q {
  color: #0040cd; }

.font-qmake {
  color: inherit; }

.font-qml {
  color: #44a51c; }

.font-r {
  color: #198CE7; }

.font-racket {
  color: #22228f; }

.font-ragel {
  color: #9d5200; }

.font-raml {
  color: #77d9fb; }

.font-rascal {
  color: #fffaa0; }

.font-realbasic {
  color: inherit; }

.font-reason {
  color: inherit; }

.font-rebol {
  color: #358a5b; }

.font-red {
  color: #f50000; }

.font-redcode {
  color: inherit; }

.font-renpy {
  color: #ff7f7f; }

.font-renderscript {
  color: inherit; }

.font-rexx {
  color: inherit; }

.font-ring {
  color: #0e60e3; }

.font-robotframework {
  color: inherit; }

.font-roff {
  color: #ecdebe; }

.font-rouge {
  color: #cc0088; }

.font-rpc {
  color: inherit; }

.font-ruby {
  color: #701516; }

.font-runoff {
  color: #665a4e; }

.font-rust {
  color: #dea584; }

.font-sage {
  color: inherit; }

.font-saltstack {
  color: #646464; }

.font-sas {
  color: #B34936; }

.font-scala {
  color: #c22d40; }

.font-scheme {
  color: #1e4aec; }

.font-scilab {
  color: inherit; }

.font-sed {
  color: #64b970; }

.font-self {
  color: #0579aa; }

.font-shaderlab {
  color: inherit; }

.font-shell {
  color: #89e051; }

.font-shellsession {
  color: inherit; }

.font-shen {
  color: #120F14; }

.font-slash {
  color: #007eff; }

.font-smali {
  color: inherit; }

.font-smalltalk {
  color: #596706; }

.font-smarty {
  color: inherit; }

.font-smt {
  color: inherit; }

.font-solidity {
  color: #AA6746; }

.font-sourcepawn {
  color: #5c7611; }

.font-sqf {
  color: #3F3F3F; }

.font-sqlpl {
  color: inherit; }

.font-squirrel {
  color: #800000; }

.font-srecode-template {
  color: #348a34; }

.font-stan {
  color: #b2011d; }

.font-standard-ml {
  color: #dc566d; }

.font-stata {
  color: inherit; }

.font-supercollider {
  color: #46390b; }

.font-swift {
  color: #ffac45; }

.font-systemverilog {
  color: #DAE1C2; }

.font-tcl {
  color: #e4cc98; }

.font-tcsh {
  color: inherit; }

.font-terra {
  color: #00004c; }

.font-tex {
  color: #3D6117; }

.font-thrift {
  color: inherit; }

.font-ti-program {
  color: #A0AA87; }

.font-tla {
  color: inherit; }

.font-turing {
  color: #cf142b; }

.font-txl {
  color: inherit; }

.font-typescript {
  color: #2b7489; }

.font-unified-parallel-c {
  color: inherit; }

.font-unix-assembly {
  color: inherit; }

.font-uno {
  color: inherit; }

.font-unrealscript {
  color: #a54c4d; }

.font-urweb {
  color: inherit; }

.font-vala {
  color: #fbe5cd; }

.font-vcl {
  color: #0298c3; }

.font-verilog {
  color: #b2b7f8; }

.font-vhdl {
  color: #adb2cb; }

.font-vim-script {
  color: #199f4b; }

.font-visual-basic {
  color: #945db7; }

.font-volt {
  color: #1F1F1F; }

.font-vue {
  color: #2c3e50; }

.font-wdl {
  color: #42f1f4; }

.font-webassembly {
  color: #04133b; }

.font-webidl {
  color: inherit; }

.font-wisp {
  color: #7582D1; }

.font-x10 {
  color: #4B6BEF; }

.font-xbase {
  color: #403a40; }

.font-xc {
  color: #99DA07; }

.font-xojo {
  color: inherit; }

.font-xproc {
  color: inherit; }

.font-xquery {
  color: #5232e7; }

.font-xs {
  color: inherit; }

.font-xslt {
  color: #EB8CEB; }

.font-xtend {
  color: inherit; }

.font-yacc {
  color: #4B6C4B; }

.font-zephir {
  color: #118f9e; }

.font-zimpl {
  color: inherit; }

/*# sourceMappingURL=github-lang-colors.css.map */
